.task-board {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 60vw;
  min-height: 70vh;
  border: 2px solid #e0d7d7;
  margin: 15px 0;
}

.task-board_title {
  margin: 18px 0;
  font-size: 50px;
}

.task-board_buttonSection > button {
  margin: 10px 10px 20px;
  width: 90px;
  height: 29px;
  background: none;
  border: none;
  border: 1px solid #d4d4d4;
  color: #e0d7d7;
  outline: none;
  font-size: 18px;
}

.task-board_buttonSection > button:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
}